[Desktop Entry]
Name=Obsidian Tech
Exec=/opt/Obsidian/obsidian "obsidian://open?vault=Tech"
Terminal=false
Type=Application
Icon=obsidian
StartupWMClass=obsidian
Comment=Obsidian
MimeType=x-scheme-handler/obsidian;
Categories=Office;
